<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Eto" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.20314.3000" newVersion="7.0.20314.3000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.UI" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.20314.3000" newVersion="7.0.20314.3000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>